@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './base.css';

a {
  text-decoration: none;
  color: rgb(var(--v-theme-primary))
}

dt {
  font-weight: bold;
}

.gap-1 {
  gap: .25rem;
}

.gap-2 {
  gap: .5rem;
}